<?xml version="1.0"?>
<launch>
    <include file="$(find ur_gazebo)/launch/ur5.launch" />

    <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
      <arg name="sim" value="true" />
    </include> 

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="2" />
    <arg name="pkg" value="dmp" />
    <arg name="file" value="dmp.launch" />
  </include>


    
</launch>